<ion-header>
  <ion-navbar color="dashboard">
    <ion-title>birthdays</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let item of images">
      <ion-thumbnail item-start>
        <img src="{{item.image}}" imageViewer>
      </ion-thumbnail>
      <h2>Images </h2>
    </ion-item>
  </ion-list>
  <!--<ion-content class="card-background-page">

          <ion-card *ngFor ="let item of images">
            <img src="{{item.image}}" imageViewer/>
          </ion-card>-->

</ion-content>
<ion-fab bottom right class="fab_fixed">
  <a href="https://api.whatsapp.com/send?phone=919032660506" color="fabColor" ion-fab mini>
    <ion-icon name="chatbubbles"></ion-icon>
    <!-- <a href="https://api.whatsapp.com/send?phone=919032660506">Send Message</a> -->

  </a>
</ion-fab>